body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #3b82f6, #1e3a8a);
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    width: 450px;
    margin: 60px auto;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
}

button {
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: #1e40af;
}

.navbar {
    background: #1e3a8a;
    padding: 12px;
    text-align: center;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}